<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
        </div>
        <div class="card"> 
            <div class="card-header">
                <ul class="nav nav-pills w-100">
                    <li class="nav-pill active">
                        <a class="nav-link">Items</a>
                    </li>
                    <li class="nav-pill ml-auto">
                        <a class="nav-link active" href="/users/add">ADD Item</a>
                    </li>
                </ul>
                </div>
    <div class="card-body">        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ref_id</th>
                    <th scope="col">prod_id</th>
                    <th scope="col">item_cat</th>
                    <th scope="col">item_name</th>
                    <th scope="col">item_desc</th>
					<th scope="col">item_type</th>
                    <th scope="col">name_manuf</th>
                    <th scope="col">item_weight</th>
                    <th scope="col">item_delar</th>
					<th scope="col">item_vendor</th>
                    <th scope="col">item_qty</th>
                    <th scope="col">item_status</th>
                    <th scope="col">location</th>
					<th scope="col">barcode_id</th>
                    <th scope="col">nfc</th>
                    <th scope="col">min_qty</th>
                    <th scope="col">max_qty</th>
                    <th scope="col">ch_intime</th>
                    <th scope="col">ch_outtime</th>

                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].ref_id%></td>
                    <td><%= data[i].prod_id%></td>
                    <td><%= data[i].item_cat%></td>
                    <td><%= data[i].item_name%></td>
                    <td><%= data[i].item_desc%></td>
					<td><%= data[i].item_type%></td>
                    <td><%= data[i].name_manuf%></td>
                    <td><%= data[i].item_weight%></td>
                    <td><%= data[i].item_delarc%></td>
					<td><%= data[i].item_vendor%></td>
                    <td><%= data[i].item_qty%></td>
                    <td><%= data[i].item_status%></td>
                    <td><%= data[i].location%></td>
                    <td><%= data[i].barcode_id%></td>
                    <td><%= data[i].nfc%></td>
                    <td><%= data[i].min_qty%></td>
                    <td><%= data[i].max_qty%></td>
                    <td><%= data[i].ch_intime%></td>
                    <td><%= data[i].ch_outtime%></td>
                     <td>
                        <a class="btn btn-success edit" href="../users/edit/<%=data[i].id%>">Edit</a>
                        <a class="btn btn-danger delete" onclick="return alert('Are you sure want to delete this record?')" href="../users/delete/<%=data[i].id%>">Delete</a> 
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No users found!</p>
        <% } %>
        </div>
    </div>
</body>
</html>