<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Stock</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 60px;">
	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>
    <div class="card"> 
    	<div class="card-header">
			Add Stock
		</div>
        <div class="card-body">
            <form action="/stock/stock" method="post">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control" name="id" value="<%= id %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Prod_id:</label>
                    <input type="text" class="form-control" name="prod_id" value="<%= prod_id %>" autocomplete="off">
                </div>
                 <div class="form-group">
                    <label>Item Name:</label>
             <input type="text" class="form-control" name="item_name" value="<%= item_name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Item Category:</label>
             <input type="text" class="form-control" name="category" value="<%= item_cat %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Item Type:</label>
             <input type="text" class="form-control" name="item_type" value="<%= item_type %>" autocomplete="off">
                </div>
            <div class="form-group">
                    <label>Item Quantity:</label>
             <input type="text" class="form-control" name="item_qty" value="<%= item_qty %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Min Quantity:</label>
             <input type="text" class="form-control" name="min_qty" value="<%= min_qty %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Max Quantity:</label>
             <input type="text" class="form-control" name="max_qty" value="<%= max_qty %>" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Status:</label>
             <input type="text" class="form-control" name="item_status" value="<%= item_status %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Barcode:</label>
             <input type="text" class="form-control" name="barcode_id" value="<%= barcode_id %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Ckeck_intime:</label>
             <input type="text" class="form-control" name="ch_intime" value="<%= ch_intime %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Check_outtime:</label>
             <input type="text" class="form-control" name="ch_outtime" value="<%= ch_outtime %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Location:</label>
             <input type="text" class="form-control" name="location" value="<%= location %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Name:</label>
             <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Mobileno:</label>
                   
                        <div class="col-md-30">
                            <input type="text" name="mobileno" placeholder ="mobileno" class="form-control col-md-30">
                        </div>
              
              </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
 